* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  background: white;
  text-align: center;
  padding: 25px;
}

.container {
  background-color: white;  
  border-radius: 0px;
  padding: 10px;
  margin-bottom: 10px;
  min-height: 250px;
}
